node_modules/
dist/
.venv/
venv/
__pycache__/
*.pyc
.env
data/

# Flutter
flutter_app/.dart_tool/
flutter_app/build/
flutter_app/.packages
flutter_app/.pub/
flutter_app/*.iml
flutter_app/.idea/
flutter_app/android/.gradle/
flutter_app/android/local.properties
